In [1]:
# Prevents me from having to reload kernel in VS Code, might not be needed to run in docker/anaconda
from IPython import get_ipython
ip = get_ipython()
ip.magic("reload_ext autoreload")  # these will enable module autoreloading
ip.magic("autoreload 2")

In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from src import pre_process
from src import constants

In [82]:
train = pre_process.getTrain()
train.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,...,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000.0,32236.0,12329.36286,59,BAT2522922,11.135007,B,C4,MORTGAGE,...,2.498291,0.793724,0,INDIVIDUAL,49,0,31.0,311301.0,6619,False
1,1450153,3609.0,11940.0,12191.99692,59,BAT1586599,12.237563,C,D3,RENT,...,2.377215,0.974821,0,INDIVIDUAL,109,0,53.0,182610.0,20885,False
2,1969101,28276.0,9311.0,21603.22455,59,BAT2136391,12.545884,F,D4,MORTGAGE,...,4.316277,1.020075,0,INDIVIDUAL,66,0,34.0,89801.0,26155,False
3,6651430,11170.0,6954.0,17877.15585,59,BAT2428731,16.731201,C,C3,MORTGAGE,...,0.107020,0.749971,0,INDIVIDUAL,39,0,40.0,9189.0,60214,False
4,14354669,16890.0,13226.0,13539.92667,59,BAT5341619,15.008300,C,D4,MORTGAGE,...,1294.818751,0.368953,0,INDIVIDUAL,18,0,430.0,126029.0,22579,False

In [ ]:
# Visualizing only
pre_process.plot_data(train, x_axis='Loan Status')

In [ ]:
# Visualizing only
pre_process.getParallelGraph(train)

In [84]:
pre_process.pre_process_data(train)

No missing vlaues found

In [ ]:
# Null values
train.isna().sum()

In [ ]:
#Missing Values
pre_process.findMissingValues(train)

In [ ]:
outlier_indexes = pre_process.getOutlierIndexByZScore(train, constants.columnDataTypes,5)
with open('./data/processed/outlier_indexes.txt', 'w') as f:
    print(outlier_indexes, file=f)

In [ ]:
pre_process.plot_data(train)

In [ ]:
pre_process.getParallelGraph(train.loc[train['Loan Status'] == False])

In [ ]:
pre_process.getParallelGraph(train.loc[train['Loan Status'] == True])

In [ ]:
train, test = process.getTrainAndTestSet(train)

In [ ]:
process.testRandomForest(train, test)