In [3]:
# Prevents me from having to reload kernel in VS Code, might not be needed to run in docker/anaconda
from IPython import get_ipython
ip = get_ipython()
ip.magic("reload_ext autoreload")  # these will enable module autoreloading
ip.magic("autoreload 2")

In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from src import pre_process
from src import constants
import json

In [9]:
train = pre_process.getTrain()
train.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,...,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000.0,32236.0,12329.36286,59,BAT2522922,11.135007,B,C4,MORTGAGE,...,2.498291,0.793724,0,INDIVIDUAL,49,0,31.0,311301.0,6619,False
1,1450153,3609.0,11940.0,12191.99692,59,BAT1586599,12.237563,C,D3,RENT,...,2.377215,0.974821,0,INDIVIDUAL,109,0,53.0,182610.0,20885,False
2,1969101,28276.0,9311.0,21603.22455,59,BAT2136391,12.545884,F,D4,MORTGAGE,...,4.316277,1.020075,0,INDIVIDUAL,66,0,34.0,89801.0,26155,False
3,6651430,11170.0,6954.0,17877.15585,59,BAT2428731,16.731201,C,C3,MORTGAGE,...,0.107020,0.749971,0,INDIVIDUAL,39,0,40.0,9189.0,60214,False
4,14354669,16890.0,13226.0,13539.92667,59,BAT5341619,15.008300,C,D4,MORTGAGE,...,1294.818751,0.368953,0,INDIVIDUAL,18,0,430.0,126029.0,22579,False

In [10]:
pre_process.findMissingValues(train)

[]

In [70]:
outlier_indexes = pre_process.getOutlierIndexByZScore(train, constants.columnDataTypes,5)
with open('./data/processed/outlier_indexes.txt', 'w') as f:
    print(outlier_indexes, file=f)

0        65087372
1         1450153
2         1969101
3         6651430
4        14354669
           ...
67458    16164945
67459    35182714
67460    16435904
67461     5300325
67462    65443173
Name: ID, Length: 67463, dtype: int32
0        10000.0
1         3609.0
2        28276.0
3        11170.0
4        16890.0
          ...
67458    13601.0
67459     8323.0
67460    15897.0
67461    16567.0
67462    15353.0
Name: Loan Amount, Length: 67463, dtype: float64
0        32236.0
1        11940.0
2         9311.0
3         6954.0
4        13226.0
          ...
67458     6848.0
67459    11046.0
67460    32921.0
67461     4975.0
67462    29875.0
Name: Funded Amount, Length: 67463, dtype: float64
0        12329.36286
1        12191.99692
2        21603.22455
3        17877.15585
4        13539.92667
            ...
67458    13175.28583
67459    15637.46301
67460    12329.45775
67461    21353.68465
67462    14207.44860
Name: Funded Amount Investor, Length: 67463, dtype: float64
0        59
1        59
2        59
3        59
4        59
         ..
67458    59
67459    59
67460    59
67461    59
67462    59
Name: Term, Length: 67463, dtype: int32
0        11.135007
1        12.237563
2        12.545884
3        16.731201
4        15.008300
           ...
67458     9.408858
67459     9.972104
67460    19.650943
67461    13.169095
67462    16.034631
Name: Interest Rate, Length: 67463, dtype: float64
0        176346.62670
1         39833.92100
2         91506.69105
3        108286.57590
4         44234.82545
             ...
67458     83961.15003
67459     65491.12817
67460     34813.96985
67461     96938.83564
67462    105123.15580
Name: Home Ownership, Length: 67463, dtype: float64
0        16.284758
1        15.412409
2        28.137619
3        18.043730
4        17.209886
           ...
67458    28.105127
67459    17.694279
67460    10.295774
67461     7.614624
67462    16.052112
Name: Debit to Income, Length: 67463, dtype: float64
0        1
1        0
2        0
3        1
4        1
        ..
67458    1
67459    0
67460    0
67461    0
67462    0
Name: Delinquency - two years, Length: 67463, dtype: int32
0        0
1        0
2        0
3        0
4        3
        ..
67458    0
67459    0
67460    0
67461    0
67462    0
Name: Inquires - six months, Length: 67463, dtype: int32
0        13
1        12
2        14
3         7
4        13
         ..
67458    13
67459    12
67460     7
67461    14
67462    30
Name: Open Account, Length: 67463, dtype: int32
0        0
1        0
2        0
3        0
4        1
        ..
67458    0
67459    0
67460    1
67461    0
67462    0
Name: Public Record, Length: 67463, dtype: int32
0        24246.0
1          812.0
2         1843.0
3        13819.0
4         1544.0
          ...
67458     4112.0
67459     9737.0
67460     2195.0
67461     1172.0
67462     8762.0
Name: Revolving Balance, Length: 67463, dtype: float64
0        74.932551
1        78.297186
2         2.073040
3        67.467951
4        85.250761
           ...
67458    97.779389
67459    15.690703
67460     1.500090
67461    68.481882
67462    81.692328
Name: Revolving Utilities, Length: 67463, dtype: float64
0         7
1        13
2        20
3        12
4        22
         ..
67458    19
67459    14
67460     9
67461    15
67462    16
Name: Total Accounts, Length: 67463, dtype: int32
0        2929.646315
1         772.769385
2         863.324396
3         288.173196
4         129.239553
            ...
67458    1978.945960
67459    3100.803125
67460    2691.995532
67461    3659.334202
67462    1324.255922
Name: Total Received Interest, Length: 67463, dtype: float64
0         0.102055
1         0.036181
2        18.778660
3         0.044131
4        19.306646
           ...
67458     0.023478
67459     0.027095
67460     0.028212
67461     0.074508
67462     0.000671
Name: Total Received Late Fee, Length: 67463, dtype: float64
0           2.498291
1           2.377215
2           4.316277
3           0.107020
4        1294.818751
            ...
67458     564.614852
67459       2.015494
67460       5.673092
67461       1.157454
67462       1.856480
Name: Recoveries, Length: 67463, dtype: float64
0        0.793724
1        0.974821
2        1.020075
3        0.749971
4        0.368953
           ...
67458    0.865230
67459    1.403368
67460    1.607093
67461    0.207608
67462    0.366386
Name: Collection Recovery Fee, Length: 67463, dtype: float64
0        0
1        0
2        0
3        0
4        0
        ..
67458    0
67459    0
67460    0
67461    0
67462    0
Name: Collection 12 months Medical, Length: 67463, dtype: int32
0         49
1        109
2         66
3         39
4         18
        ...
67458     69
67459     14
67460    137
67461     73
67462     54
Name: Last week Pay, Length: 67463, dtype: int32
0        0
1        0
2        0
3        0
4        0
        ..
67458    0
67459    0
67460    0
67461    0
67462    0
Name: Accounts Delinquent, Length: 67463, dtype: int32
0         31.0
1         53.0
2         34.0
3         40.0
4        430.0
         ...
67458     48.0
67459     37.0
67460     17.0
67461     61.0
67462     47.0
Name: Total Collection Amount, Length: 67463, dtype: float64
0        311301.0
1        182610.0
2         89801.0
3          9189.0
4        126029.0
           ...
67458    181775.0
67459     22692.0
67460    176857.0
67461    361339.0
67462    196960.0
Name: Total Current Balance, Length: 67463, dtype: float64
0         6619
1        20885
2        26155
3        60214
4        22579
         ...
67458    34301
67459     8714
67460    42330
67461    39075
67462    66060
Name: Total Revolving Credit Limit, Length: 67463, dtype: int32

In [ ]:
plot_data(sampletrain, x_axis='Loan Status')

In [40]:
pre_process.getParallelGraph(train)

AttributeError: module 'src.pre_process' has no attribute 'getParallelGraph'